<div class="hero">


<div class="container">
    <div class="header">
        <h1>Our Setup our Work Culture</h1>
        <hr>
    </div>
    <div class="image-section">
        <img src="/assets/about-1.webp" alt="about-comp">
    </div>
    <div class="team-section">
        <h2>Our Team</h2>
        <mat-divider></mat-divider>

        <div class="team-container">
            <mat-card class="team-member">
                <mat-card-content>
                    <img src="/assets/Nisara.webp" alt="Sayyed Nisar Ahmad">
                    <h3>Sayyed Nisar Ahmad</h3>
                    <p class="role">Founder</p>
                    <p>
                        Belongs to the city of Firozabad, which is the center of India's glassmaking industry and is
                        known for the glassware produced. Migrated to Mumbai in 1975 and started the small business of
                        Crockery Decorations, today the company is specialized in printing on glass containers working
                        as suppliers of printed glass bottles to Lakme.
                    </p>
                </mat-card-content>
            </mat-card>

            <mat-card class="team-member">
                <mat-card-content>
                    <img src="/assets/Farhat.webp" alt="Sayed Farhat Ali">
                    <h3>Sayed Farhat Ali</h3>
                    <p class="role">Project Lead</p>
                    <p>
                        Inherited the tradition of glass printing from his father Sayed Nisar, today Farhat Ali expanded
                        the business in the field of frosting, printing and coating. He is a promoter of automation and
                        build the business around it taking it to the next level. Most of the machines are designed in
                        India for India by Indian genius.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

</div>
</div>