<mat-toolbar class="nav" [ngClass]="isHomepage ? 'nav-home' : 'nav-dark'">
  <h1 routerLink="/">Popular Glasses</h1>
  <span class="spacer"></span>

  <!-- Hamburger Icon for Mobile -->
  <button mat-icon-button class="menu-icon" (click)="toggleMenu()">
    <mat-icon>{{ isMenuOpen ? 'close' : 'menu' }}</mat-icon>
  </button>

  <!-- Navigation Links -->
  <div class="nav-links" [ngClass]="{ 'show': isMenuOpen }">
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/about">About Us</button>
    <div class="dropdown">
      <button mat-button>Services</button>
      <ul class="dropdown-menu">
        <li><a routerLink="/screen-printing">Screen Printing</a></li>
        <li><a routerLink="/frosting">Frosting</a></li>
        <li><a routerLink="/color-coating">Color Coating</a></li>
        <li><a routerLink="/hot-foil-stamping">Hot Foil Stamping</a></li>
      </ul>
    </div>
    <button mat-button routerLink="/contact">Contact</button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
